.page-inner {max-width:900px;}

.markdown-section {
    color:#212d51;
    /*color: red;*/
    font-family: LatoLatinWeb, Arial, sans-serif;
}

.book-summary ul.summary li span {color:red;}

div.book-summary {
    font-family: LatoLatinWeb, Arial, sans-serif;
    padding-top: 180px;
    background-image: url('/styles/apg.jpg');
    background-repeat: no-repeat;
    background-attachment: local;
}

/* Webfont: LatoLatin-Bold */@font-face {
    font-family: 'LatoLatinWeb';
    src: url('fonts/LatoLatin-Bold.eot'); /* IE9 Compat Modes */
    src: url('fonts/LatoLatin-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/LatoLatin-Bold.woff2') format('woff2'), /* Modern Browsers */
    url('fonts/LatoLatin-Bold.woff') format('woff'), /* Modern Browsers */
    url('fonts/LatoLatin-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

/* Webfont: LatoLatin-BoldItalic */@font-face {
    font-family: 'LatoLatinWeb';
    src: url('fonts/LatoLatin-BoldItalic.eot'); /* IE9 Compat Modes */
    src: url('fonts/LatoLatin-BoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/LatoLatin-BoldItalic.woff2') format('woff2'), /* Modern Browsers */
    url('fonts/LatoLatin-BoldItalic.woff') format('woff'), /* Modern Browsers */
    url('fonts/LatoLatin-BoldItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

/* Webfont: LatoLatin-Italic */@font-face {
    font-family: 'LatoLatinWeb';
    src: url('fonts/LatoLatin-Italic.eot'); /* IE9 Compat Modes */
    src: url('fonts/LatoLatin-Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/LatoLatin-Italic.woff2') format('woff2'), /* Modern Browsers */
    url('fonts/LatoLatin-Italic.woff') format('woff'), /* Modern Browsers */
    url('fonts/LatoLatin-Italic.ttf') format('truetype');
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: LatoLatin-Regular */@font-face {
    font-family: 'LatoLatinWeb';
    src: url('fonts/LatoLatin-Regular.eot'); /* IE9 Compat Modes */
    src: url('fonts/LatoLatin-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/LatoLatin-Regular.woff2') format('woff2'), /* Modern Browsers */
    url('fonts/LatoLatin-Regular.woff') format('woff'), /* Modern Browsers */
    url('fonts/LatoLatin-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
